/* Footer container */
.footer-container {
    width: 100%;
    padding-top: 3rem;
    background-color: var(--desktop-primary-color);
    border-top: 5px solid var(--border-accent-color);
}

.footer {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

/* Flex setup for mobile and large screens */
.footer-nav-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-essex, .footer-useful-links, .footer-products, .footer-contact {
    padding: 0.5rem 0;
}

.footer-useful-links, .footer-products {
    display: none; /* Hide these sections on mobile */
}

.footer-lists-title {
    padding-bottom:0.5rem;
}

.footer-lists-title h3 {
    margin-bottom: 0.5rem;
    font-size: 16px;
    color: #fff;
    border-top: none; /* Remove border-top on titles */
}

.essex-description {
    color:#fff;
    padding-top:1rem;
}

.essex-description p {
    line-height:1.45em;
}

.fitter-wrapper {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    padding-top:1rem;
}

.essex-link {
    color:#fff;
    font-weight:bold;
    text-decoration:none;
}

.useful-links-list, .footer-contact-links {
    list-style-type: none;
    padding: 0;
}

.footer-borders {
    border-bottom:1px solid #262728;
}

.footer-getintouch-link {
    display:flex;
    padding: 8px 0;
    align-items:center;
    padding:8px 0;
    text-decoration: none;
}

.footer-useful-links a,
.footer-contact-links span {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}

.footer-useful-links a:before {
    font-family: FontAwesome;
    content: '\f105';
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.footer-icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.footer-contact-icon {
    font-size: 20px;
    line-height: 1;
    width:30px;
    text-align:center;
    color:#fff;
}

.footer-contact-links {
    border-top:1px solid #262728;
}

.footer-images {
    display:none;
    padding-top:2.5rem;
}

.footer-images img {
    width:80%;
    height:auto;
    max-height:100px;
}

.footer-copyright-container {
    width:100%;
}

.footer-copyright-container p{
    color:#fff;
    text-align:center;
    padding-top:3rem;
    padding-bottom:2rem;
}

.footer-paragraphs {
    display:flex;
    flex-direction: column;
    color:#fff;
    gap:20px;
    padding-top:1.5rem;
}

.footer-paragraphs p{
    line-height:1.7rem;
    font-size:12px;
}

.footer-proprietors-container, .footer-terms-container {
    max-width:767px;
    text-align:left;
    margin:auto;
}

.footer-terms-container a{
    color:#fff;
    text-decoration: underline;
    font-weight:bold;
}

/* Apply border-top to each li */
.useful-links-list li {
    border-top: 1px solid #262728; /* Add border to li items */
}

.useful-links-link {
    text-decoration: none;
}

.footer-contact-links li {
    border-top: 1px solid #262728; /* Add border to li items */
}

.footer-trustpilotlogo-container {
    padding-top:2rem;
    display:none;
}

.footer-trustpilotlogo {
    color:#fff;
    display:flex;
    align-items: center;
    gap:0.5rem;
}

.footer-trustpilotlogo p{
    font-size:17px;
}

.footer-trustpilot-5stars {
    max-width:80px;
}

.footer-trustpilot {
    margin-top:2px;
    max-width:75px;
}

/* Media Query for larger screens (Desktop) */
@media screen and (min-width: 768px) {
    .footer-proprietors-container, .footer-terms-container {
        text-align:left;
        max-width:600px;
    }

    .footer-paragraphs {
        padding-top:3rem;
        display:flex;
        flex-direction:row;
        gap:20px;
    }

    .footer-useful-links {
        display: block;
    }

    .footer-nav-container {
        flex-direction: row; /* Change to row for desktop */
        justify-content: space-between; /* Ensure they are spaced evenly */
    }

    .footer-essex, .footer-useful-links, .footer-products, .footer-contact {
        flex: 1; /* Space out the flex items */
    }

    .footer-images {
        justify-content: center;
        gap:20px;
        display:flex;
        flex-wrap:wrap;
    }
}

@media screen and (min-width:1024px) {
    .footer-trustpilotlogo-container {
        display:block;
    }
}

@media screen and (min-width: 1080px) {
    .footer-products {
        display: block;
    }
}