*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --desktop-primary-color: #455060;
    --desktop-secondary-color: #0063a6;
    --border-accent-color: #008ecc;
    --mobile-primary-color: #222222;
    --footer-border-color: #262728;
}