*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.mobile-header{
    background-color: var(--desktop-secondary-color);
}

.header-mobile-logo {
    display: flex;
    justify-content: center;
}

.header-mobile-logo img{
    max-height:150px;
    max-width:250px;
}

/* Desktop header */

.desktop-header-container{
    display:none;
}

.desktop-header {
    display:flex;;
    margin:auto;
    max-width:1250px;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.desktop-header-menu {
    display:flex;
    align-items: center;
    padding: 0px 10px;
    gap:1.7rem;
    /* height:105px; */
}

/* Invisible hover bridge */
.desktop-nav-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 45px; /* Adjust height as needed */
  background: transparent;
}

.desktop-header-logo{
    /* background-color:var(--desktop-secondary-color); */
    position: relative;
    padding: 10px;
    width:310px;
}

.desktop-header-logo img{
    /* background-color:var(--desktop-secondary-color); */
    z-index:10;
}

.desktop-header-logo:before {
    content: ' ';
    width: 600px;
    position: absolute;
    right:0;
    height: 100%;
    background: var(--desktop-secondary-color);
    border-right:5px solid var(--border-accent-color);
    -webkit-background-size: cover;
    background-size: cover;
    transform: skewX(-45deg)
}

.desktop-header-menu li {
    display:flex;
    list-style: none;
    /* height:100%; */
}

.desktop-header-menu a {
    display: relative;
    display:flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size:14px;
    gap:0.5rem;
}


.fa-angle-down{
    font-size: 10px;
}

.get-price-container{
    position: relative;
}

.get-price{
    position: relative;
    top:15px;
}

.desktop-header-logo{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.desktop-header-logo img{
    max-width:150px;
    max-height: 90px;
    height: auto;
    width: auto;
}

.desktop-nav-container {
    position: relative;
}
  
  /* Bottom sentence */
  .submenu-bottom p {
    font-size: 11px;
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #262728;
    text-align: right;
    padding-top:1.5rem;
    padding-bottom:1rem;
  }


  .header-products-mainLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px; /* Extends the hover effect below */
    width: 100%;
    height: 20px; /* Adjust to control hover area */
    background: transparent; /* Invisible but clickable */
}

.header-products-mainLink:hover,
.desktop-nav-container:hover .header-products-mainLink {
    color: var(--submenu-link-color); /* Change to desired hover color */
}

@media (min-width: 1024px) {
    .desktop-header-container{
        background: linear-gradient(to right, var(--desktop-secondary-color) 20%, var(--desktop-primary-color) 20%);;
        width:100%;
        display:flex;
        justify-content: space-between;
        margin:auto;
        -webkit-box-shadow: 0 1px 15px #272727;
        -moz-box-shadow: 0 1px 15px #272727;
        box-shadow: 0 1px 15px #272727;
    }

    .mobile-header {
        display:none;
    }
}
