.slideout {
    display:none;
    position:fixed;
    right:-35px;
    top:10rem;
    z-index:100;
}

.slideout li{
    list-style: none;
}


@media screen and (min-width:1024px) {
    .slideout {
        display:block;
    }
}