*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.topbar-container {
    background-color: var(--mobile-primary-color);
    width:100%;
    height:3rem;
}

.mobile-topbar {
    max-width:600px;
    height:3rem;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 10px;
}

.mobile-topbar li {
    list-style: none;
}

.mobile-topbar a {
    color: white;
    text-decoration: none;
    font-size:11px;
    display:flex;
    align-items:center;
    gap:0.3rem;
}

.hidden {
    display: none;
}

/*topbar dropdown*/

.topbar-dropdown {
    background-color: var(--mobile-primary-color);
    position: relative;
    z-index:10;
}

.topbar-dropdown ul{
    max-width:600px;
    margin:0 auto;
    padding: 0px 10px;
}

.topbar-dropdown ul li{
    list-style: none;
    padding:0.5rem 0rem
}

.topbar-dropdown ul li a{
    color: white;
    text-decoration: none;
    font-size:12px;
}


/* Desktop topbar */
.desktop-topbar {
    display:none;
}

.topbar-left{
    display:flex;
    align-items: center;
    gap:20px;
}

.topbar-left li{
    list-style: none;
}

.topbar-left li a{
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}

.fa-envelope{
    margin-right: 5px;
}

.fa-phone{
    margin-right: 5px;
}

.topbar-right {
    display:flex;
    align-items: center;
    list-style: none;
    height:3rem;
}

.topbar-right li {
    padding: 0 12px;
    border-left: 1px solid #000;
    height:100%;
    display:flex;
    align-items: center;
}

.topbar-right li a {
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}

.topbar-right li a:hover {
    color:var(--desktop-secondary-color);
    transition:0.2s;
}

.topbar-right li a i {
    color:#fff;
    font-size: 20px;
    display: inline-block; /* Ensures the icon behaves correctly during transformation */
    transition: transform 0.3s ease-in-out; /* Smooth rotation transition */
}

.topbar-right li a:hover i {
    transform: rotate(360deg); /* Full rotation */
    color:var(--secondary-color);
}

.fa-gem, .fa-calculator, .fa-map-marker-alt, .fa-bars {
    font-size:1rem;
}

@media (min-width: 1024px) {
    .topbar-container{
        background-color: var(--desktop-primary-color);
    }

    .desktop-topbar {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        padding:0 10px;
    }

    .mobile-topbar {
        display:none;
    }

    .topbar-dropdown {
        display:none;
    }
}